*{
    margin:0;
    padding: 0;
    box-sizing: border-box;    
}
header{
    width: 50%;
    margin: 0 auto;
    margin:30px auto;
    height: 60px;
    background-color: fuchsia;
}
main{
    width: 50%;
    height:300px;
    margin: 0 auto;
    margin:30px auto;
    background-color: goldenrod;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
    background-color: darkcyan;
  }
.text{
    width:100%;
    margin: 0 auto;
    margin:10px auto;
    height: 30px;
    background-color: rgb(127, 199, 221);
}
.text1{
    background-color: rgba(21, 5, 161, 0.856);
    width: 50%;
    height:300px;
    margin: 0 auto;
    margin:10px auto;
}
.box{
    background-color: rgb(127, 199, 221);
    float: left;
    height: 83%;
    width: 24%;
    
}
.box1{
    
    background-color: rgb(127, 199, 221);
    float: left;
    height: 83%;
    width: 50%;
    margin-left: 1%;
    margin-right: 1%;
}

footer{
    width: 50%;
    margin: 0 auto;
    margin:30px auto;
    height: 40px;
    background-color: blueviolet;
}